header {
  position: absolute;
  top:0;
  width:100%;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

th {
  font-size: 12px;
}

td {
  font-size: 12px;
}
.wrapper {
  position: absolute;
  top:40px;
  bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}
.wrapper-content-col{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.col-left {
  width: 35%;
}

.col-center {
  width: 25%
}

.col-right {
  width: 40%
}

.poc-card {
  padding: 0;
}

.buttonMenu {
  min-width: 36px;
  background-color: #9F9C96;
  color: #fff;
  padding: 0;
  line-height: 24px;
  height: 26px;
}

.menuSelect{
  width: 100px;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  background-color: #fff;
  flex: 0 0 auto;
  margin: 5px;
  height: 22px;
}

.makeSelect{
  width: 100%;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  background-color: #fff;
  flex: 0 0 auto;
  margin: 5px;
  height: 22px;
}
.modelSelect{
  width: 100%;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  background-color: #fff;
  flex: 0 0 auto;
  margin: 5px;
  height: 22px;
}
.menuSelect1 {
  border: 1px solid #9F9C96;
  border-radius: 4px;
  background-color: #fff;
  margin: 5px;
  height: 22px;
}

.headerColor {
  color: #3b6caa;
  margin-right: 65px;
}

.fontDetail {
 color: black;
  font-weight: bold;
}

.label {
  margin-right: 5px;
}

.labelN {
  margin-left: 10px;
}

.calenderSize {
  font-size:13px;
  line-height: 24px;
  width : 100px;
  border: 1px solid #9F9C96;
  background-color: #F8F1F7;
  color: rgba(0,0,0,.87);
}
.customtextbox {
  font-size:13px;
  line-height: 24px;
  width : 312px;
  margin-left: 0PX !important;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  background-color: #F5F5F5;
  color: rgba(0,0,0,.87);
  margin-top: 22px;
}
.customtextbox-length{
  font-size:13px;
  line-height: 24px;
  width : 100px;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  color: rgba(0,0,0,.87);
  line-height: 12px !important;
}
mat-form-field.customtextbox-length{
  height: 22px !important;
}
.customtextbox-year-of-mgc{
  font-size:13px;
  line-height: 24px;
  width : 100px;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  color: rgba(0,0,0,.87);
  line-height: 12px !important;
}

.customtextbox-topSpeed{
  font-size:13px;
  line-height: 24px;
  width : 100px;
  border: 1px solid #9F9C96;
  border-radius: 4px;
  color: rgba(0,0,0,.87);
  line-height: 12px !important;
}
mat-form-field.customtextbox-topSpeed{
  height: 22px !important;
}
.quotebtn{
  padding: 0;
  min-width: auto;
  text-decoration: underline;
}

.divBackgroud {
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px -3px rgba(0,0,0,.14),
              0 1px 5px -6px rgba(0,0,0,.12);
}

.mat-radio-label-content {
  font-size: 14px;
}

.divBackgroud span {
  font-size: 14px;
}

.toobar1 {
  margin-top: 5px;
  flex: 0 0 auto;
  padding-left: 0;
  padding-right: 0
}

.toolbar2{
  background-color: #fff;
  padding: 0;
  font-size: 14px;
}

.box{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.card {
  flex: 1 1 auto;
  margin:5px;
  padding: 3px;
  overflow: auto;
}

.table{
  width:100%;
  border: rgb(231, 231, 231) 1px solid;
}

.table th{
  background-color: #F6F6F9;
  text-align: left;
  color: #3b6caa;
  padding: 5px;
}

.table td{
  padding: 5px;
}

.table1 {
  width:100%;
}

.table1 td {
  white-space: nowrap;
}

.table1 .mat-input-container{
  width: 100%;
}

.col-right td span {
  font-size: 12px;
}

.poc-card table {
  position: relative;
  left: 10px;
}

.poc-card table tr td:nth-child(2) {
  position: relative;
  left: 10px;
  bottom: 2px;
}
.lable-weight{
  color: rgb(63, 81, 181);
}

mat-icon.mat-icon.material-icons{
  width: 22px !important;
  height: 22px !important;
  margin-top: -5px;
}
.font-icon-alignment-name{
  left: -25px;
  position: relative;
}

.font-icon-alignment-primary{
  left: -19px;
  position: relative;
}
