<header>
  <mat-toolbar color="primary">
    <span class="ss-spacer"></span>
    <mat-icon>apps</mat-icon>
    <button mat-button [matMenuTriggerFor]="usermenu">
      <mat-icon class="ss-user">account_circle</mat-icon>
      Antony
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </mat-toolbar>
</header>

<!-- Page Content -->

<div class="wrapper">
  <div>
    <mat-toolbar class="boat-info-toolbar">
      <span class="headerColor">
        <h4>NEW BUSINESS - BOAT INFO</h4>
      </span>
      <mat-select class="menuSelect" [(value)]="selected">
        <mat-option value="option1">Event Log</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
      <mat-select class="menuSelect" [(value)]="selected">
        <mat-option value="option1">Print</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
      <mat-select class="menuSelect" [(value)]="selected">
        <mat-option value="option1">UW Review</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
      <mat-select class="menuSelect" [(value)]="selected">
        <mat-option value="option1">More</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
      <span class="ss-spacer"></span>
      <div style="margin-top: -8px;">
        <button class="buttonMenu" mat-raised-button>
          <mat-icon>mail</mat-icon>
        </button>
        <button class="buttonMenu" mat-raised-button>
          <mat-icon>phone_in_talk</mat-icon>
        </button>
        <button class="buttonMenu" mat-raised-button>
          <mat-icon>description</mat-icon>
        </button>
        <button class="buttonMenu" mat-raised-button>
          <mat-icon>save</mat-icon>
        </button>
        <mat-form-field class="toolbar-btn-area">
          <mat-select [(value)]="selected">
            <mat-option value="option1">In Edit</mat-option>
            <mat-option value="option1">option 1</mat-option>
            <mat-option value="option1">option 2</mat-option>
          </mat-select>
        </mat-form-field>
        <button class="buttonMenu" mat-raised-button>
          <mat-icon>bookmark</mat-icon>
        </button>
        <button class="buttonMenu" mat-raised-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-toolbar class="divBackgroud toolbar-top">
      <span class="fontDetail label">Effective</span>
      <mat-form-field class="calenderSize" id="date-picker">
        <input matInput [matDatepicker]="myDatepicker">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
      <span class="fontDetail label labelN">App #</span>
      <mat-form-field class="calenderSize" style="color: rgba(0,0,0,.87);">
        <input matInput value="BSP3524677">
      </mat-form-field>
      <span class="fontDetail  label labelN">Quote Ver #</span>
      <mat-form-field class="calenderSize quoteSelect">
        <mat-select [(value)]="selected">
          <mat-option value="option1">01 10/27/2017 Full Quote with Hull and Liability</mat-option>
          <mat-option value="option1">02 7/15/2017 Full Quote with Hull and Liability</mat-option>
          <mat-option value="option1">03 2/31/2017 Full Quote with Hull and Liability</mat-option>
          <mat-option value="option1">04 8/1/2017 Full Quote with Hull and Liability</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="calenderSize labelN">
        <input matInput value="BOATER'S SEL">
      </mat-form-field>
      <mat-form-field class="calenderSize labelN">
        <input matInput value="Pending">
      </mat-form-field>
      <span class="ss-spacer"></span>
      <button mat-button class="quotebtn" color="warn">Quote</button>
      <mat-form-field class="calenderSize labelN">
        <input matInput value="$1,503.43" style="position: relative;text-align:right">
      </mat-form-field>
      <button mat-raised-button class="labelN" color="warn">Rate Quote
      </button>
    </mat-toolbar>
  </div>
  <div class="wrapper-content">
    <div class="wrapper-content-col col-left">
      <mat-toolbar class="divBackgroud toobar1 box-toolbar">
        <span class="headerColor">Boats On Policy</span>
        <span class="ss-spacer"></span>
        <!--<mat-icon>view_module</mat-icon>-->
        <div>
          <i class="fa fa-th-large fa-lg" style="font-size: 14px; padding-bottom:4px"></i>
        </div>
      </mat-toolbar>
      <div class="box">
        <mat-card class="card boat-info-card">
          <!-- boat Information section -->
          <div style="border-bottom: 1px solid lightgray;">
            <mat-toolbar class="toolbar2">
              <span style="color:rgb(63,81,181);">
                <b> Boat Information</b>
              </span>
              <span class="ss-spacer"></span>
              <span class="lable-weight" style="right: 22px;position: relative;">Year of Mfg</span>
              <mat-form-field style="width:55px;right: 16px;">
                <input matInput value="2012" style="text-align:right;position: relative;">
              </mat-form-field>
            </mat-toolbar>
            <div id="boat-info">
              <table style="width: 100%;" class="table1">
                <tr>
                  <td class="lable-weight">
                    Make
                  </td>
                  <td colspan="3">
                    <mat-form-field>
                      <mat-select [(value)]="selected">
                        <mat-option value="option1">Cypress cay</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option1">Option 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="lable-weight">
                    Model
                  </td>
                  <td colspan="3">
                    <mat-form-field>
                      <mat-select [(value)]="selected">
                        <mat-option value="option1">250 Cabana</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option1">Option 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="lable-weight">
                    Length
                  </td>
                  <td>
                    <mat-form-field style="left: -18px;width:55px">
                      <input matInput value="27" style="text-align: right;position: relative;bottom: -3px;">
                    </mat-form-field>
                  </td>
                  <td class="lable-weight">
                    Top Speed
                  </td>
                  <td>
                    <mat-form-field style="width:55px">
                      <input matInput value="45" style="text-align: right;position: relative;bottom: -3px;">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="lable-weight">
                    Hull Type
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select [(value)]="selected">
                        <mat-option value="option1">Pontoon</mat-option>
                        <mat-option value="option1">Displacement </mat-option>
                        <mat-option value="option1">Round-Bottom</mat-option>
                        <mat-option value="option1">Flat-Bottom</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td class="lable-weight">
                    Material
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select [(value)]="selected">
                        <mat-option value="option1">Fiberglass</mat-option>
                        <mat-option value="option1">Biomaterials</mat-option>
                        <mat-option value="option1">Ceramics</mat-option>
                        <mat-option value="option1">Composites</mat-option>
                        <mat-option value="option1">Concrete</mat-option>
                        <mat-option value="option1">Electronic </mat-option>
                        <mat-option value="option1">Fiberglass</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="lable-weight">
                    Power
                  </td>
                  <td>
                    <mat-form-field style="left:-18px">
                      <mat-select [(value)]="selected">
                        <mat-option value="option1">Inboard</mat-option>
                        <mat-option value="option1">Reward</mat-option>
                        <mat-option value="option1">Expert</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td class="lable-weight">
                    Fuel
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select [(value)]="selected">
                        <mat-option value="option1">Gas</mat-option>
                        <mat-option value="option1">Diesel</mat-option>
                        <mat-option value="option1">LPG Autogas</mat-option>
                        <mat-option value="option1">Biofuels </mat-option>
                        <mat-option value="option1">Premium unleaded petrol</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <table style="width:100%">
                      <tr>
                        <td class="lable-weight" style="right: -37px;">
                          #Engine
                        </td>
                        <td>
                          <mat-form-field style="left: 57px; width: 30px;margin-right: 35px; bottom: -2px; position: relative;">
                            <input matInput value="1" style="position: relative;text-align: right;bottom: -3px;">
                          </mat-form-field>
                        </td>
                        <td class="lable-weight" style="right: -9px;">
                          Total HP
                        </td>
                        <td>
                          <mat-form-field style="width: 31px;bottom: -2px;position: relative;left: 10px;">
                            <input matInput value="310" style="position: relative;text-align: right;bottom: -3px;">
                          </mat-form-field>
                        </td>
                        <td class="lable-weight" style="right: -25px;">
                          Boat Storage
                        </td>
                        <td>
                          <mat-form-field style="width: 151px;left: 24px;">
                            <mat-select [(value)]="selected">
                              <mat-option value="option1">Trailer</mat-option>
                              <mat-option value="option1">Dry Rack</mat-option>
                              <mat-option value="option1">Wet Dock</mat-option>
                              <mat-option value="option1">Boat Lift</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="lable-weight" style="right: -15px;">
                    Purchase Price
                  </td>
                  <td>
                    <mat-form-field style="right: -15px;width: 90%;">
                      <input matInput value=" " style="text-align:right">
                    </mat-form-field>
                  </td>
                  <td class="lable-weight" style="left: 12px;">
                    Purchase Dt
                  </td>
                  <td>
                    <mat-form-field style="width: 90%;left: 13px;bottom: 6px;">
                      <input matInput [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </td>
                </tr>

              </table>
            </div>
          </div>

          <!-- boat Location section -->

          <div class="boat-location-heading">
            <span style="color:rgb(63,81,181);">
              <b> Boat location</b>
            </span>
            <mat-form-field style="width:109px; left: 11px;">
              <mat-select [(value)]="selected">
                <mat-option value="option1">Marina/Others</mat-option>
                <mat-option value="option1">Madras Boat Club</mat-option>
                <mat-option value="option1">Royal Madras Yacht Club</mat-option>
                <mat-option value="option1">Eco Park and Boating</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox style="margin-left:50px">US</mat-checkbox>
            <span style="margin-left:10px" class="lable-weight">State Filter</span>
            <mat-form-field class="example-full-width" style="width:51px; left: 16px;">
              <mat-select [(value)]="selected">
                <mat-option value="option1">TX</mat-option>
                <mat-option value="option1">JE</mat-option>
                <mat-option value="option1">ID</mat-option>
                <mat-option value="option1">KJ</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="boat-location-section" style="margin-top:8px">
            <div class="boat-location-div">
              <span class="lable-weight" style="right: -12px;position: relative;">
                Marina Name
              </span>
              <mat-form-field style="left: 13px; width: 348px">
                <input matInput value="Marina Express" style="bottom: 2px !important;position: relative;">
              </mat-form-field>
            </div>
            <div class="boat-location-div">
              <span class="lable-weight">
                Address Line 1
              </span>
              <mat-form-field style="left: 2px; width: 347px">
                <input matInput value="4511 Industrial Avenue" style="bottom: 2px !important;position: relative;">
              </mat-form-field>
            </div>
            <div class="boat-location-div">
              <span class="lable-weight" style="position: relative;left: 57px;">
                Line 2
              </span>
              <mat-form-field style="left: 59px;width: 347px;">
                <input matInput value="">
              </mat-form-field>
            </div>
            <div class="boat-location-div">
              <span class="lable-weight" style="left: 21px;position: relative;">
                City & State
              </span>
              <mat-form-field style="width:231px; left: 23px;">
                <input matInput value="Midland" style="bottom: 2px !important;position: relative;">
              </mat-form-field>
              <mat-form-field style="width: 75px;margin-left:10px;left: 49px;">
                <input matInput value="TX" style="bottom: 2px !important;position: relative;">
              </mat-form-field>
            </div>
            <div class="boat-location-div">
              <span class="lable-weight" style="position: relative;left: 75px;">
                Zip
              </span>
              <mat-form-field style="width:110px; left: 77px;">
                <input matInput value="79736" style="bottom: 2px !important;position: relative;text-align: right;">
              </mat-form-field>
              <span class="lable-weight" style="margin-left:10px; position: relative; left: 70px;bottom: 4px;">+4</span>
              <mat-form-field style="width: 70px;left: 70px;">
                <input matInput value="">
              </mat-form-field>
              <span class="lable-weight" style="margin-left:10px; position: relative; left: 68px;bottom: 4px;">Country</span>
              <mat-form-field style="width: 74px;left: 66px;">
                <input matInput value="">
              </mat-form-field>
            </div>
            <div class="boat-location-div">
              <span class="lable-weight" style="position: relative;left: 54px;">
                Phone
              </span>
              <mat-form-field style="width: 156px;left: 57px;">
                <input matInput value="432-530-0020" style="bottom: 2px !important;position: relative;">
              </mat-form-field>
              <span class="lable-weight" style="margin-left:10px; position: relative; left: 62px;bottom: 4px;">Fax</span>
              <mat-form-field style="margin-left:10px;width: 143px;left: 53px;">
                <input matInput value="">
              </mat-form-field>
            </div>
            <div class="boat-location-div">
              <span class="lable-weight" style="position: relative;left: 58px;">
                Email
              </span>
              <mat-form-field style="left: 61px;width: 348px;">
                <input matInput value="">
              </mat-form-field>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="wrapper-content-col col-center" style="height:475px">
      <mat-toolbar class="divBackgroud toobar1 box-toolbar cabana">
        <mat-select class="menuSelect1" [(value)]="selected">
          <mat-option value="option1">2012 250 Cabana</mat-option>
        </mat-select>
      </mat-toolbar>
      <div class="box">
        <mat-card class="card" id="boat-op">
          <mat-toolbar class="toolbar2">
            <span style="color:rgb(63,81,181);">
              <b> Boat Operators</b>
            </span>
            <!-- <span class="ss-spacer"></span> -->
            <i class="material-icons" id="add-icon" title="Add Boat Operators">add</i>
          </mat-toolbar>
          <div>
            <table cellspacing="0" cellpadding=0 class="table boat-op-table1">
              <tr>
                <th></th>
                <th>
                  <div style="left:-19px;position:relative">Name</div>
                </th>
                <th>
                  <div style="left:-19px;position:relative">Primary</div>
                </th>
              </tr>
            </table>
          </div>
          <div style="margin-top:5px; overflow-y: scroll;height: 82px !important">
            <table cellspacing="0" cellpadding=0 class="table boat-op-table2" style="height: 140px;">
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Adam Coy</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">Yes</div>
                </td>
              </tr>
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Anderson</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">No</div>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Franklin Coy</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">No</div>
                </td>
              </tr>
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Jackson</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">Yes</div>
                </td>
              </tr>
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Adam Coy</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">Yes</div>
                </td>
              </tr>
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Miller</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">Yes</div>
                </td>
              </tr>
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Nelson</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">Yes</div>
                </td>
              </tr>
              <tr>
                <td>
                  <!--<mat-icon>view_module</mat-icon>-->
                  <i class="fa fa-th-large fa-lg"></i>
                </td>
                <td>
                  <div class="font-icon-alignment-name">Parker</div>
                </td>
                <td>
                  <div class="font-icon-alignment-primary">Yes</div>
                </td>
              </tr>
            </table>
          </div>
        </mat-card>
        <mat-card class="card poc-card-radio" id="boat-underwriting" style="overflow: visible;bottom: 0px; height: 272px;">
          <div id="boat-underwriting-top">
            <mat-toolbar class="toolbar2">
              <span style="color:rgb(63,81,181);">
                <b>Boat Underwriting Information</b>
              </span>
            </mat-toolbar>
            <span class="lable-weight" style="font-size:12px">
              Any Boat Claims or Accidents in the last 3 Years?
            </span>
            <mat-toolbar class="toolbar2">
              <mat-radio-group class="toolbar-radio" style="font-size:12px">
                <mat-radio-button value="1" checked="true">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
              <span class="ss-spacer"></span>
              <button mat-button class="quotebtn" color="warn">Claim Details</button>
            </mat-toolbar>
          </div>
          <div>
            <table cellspacing="0" cellpadding=0 class="table boat-underwriting-table1">
              <tr>
                <th style="padding-right: 45px;">Answer all questions</th>
                <th>Yes</th>
                <th>No</th>
              </tr>
            </table>
          </div>
          <div style="height: 175px;overflow-y: visible;overflow-x: hidden;">
            <table cellspacing="0" cellpadding=0 class="table boat-underwriting-table2">
              <tr>
                <td>
                  Will this vessel be used for racing?
                </td>
                <td colspan="2">
                  <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <mat-radio-button value="2" checked="true"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  Do you live abroad with this vessel?
                </td>
                <td colspan="2">
                  <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <mat-radio-button value="2" checked="true"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  Do you use the vessel for any purpose other than private pleasure?
                </td>
                <td colspan="2">
                  <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <mat-radio-button value="2" checked="true"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  Is vessel insured under an inforce policy?
                </td>
                <td colspan="2">
                  <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <mat-radio-button value="2" checked="true"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  Do you live abroad with this vessel?
                </td>
                <td colspan="2">
                  <mat-radio-group>
                    <mat-radio-button value="1"></mat-radio-button>
                    <mat-radio-button value="2" checked="true"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
            </table>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="wrapper-content-col col-right">
      <mat-toolbar class="divBackgroud toobar1 box-toolbar">
        <i class="material-icons" id="add-icon" title="Add New">add</i>
      </mat-toolbar>
      <div class="box">
        <div>
          <mat-card style="margin-top:5px" class="poc-card" id="boat-coverage">
            <div style="position: relative">
              <div id="boat-coverage-heading">
                <span style="color:rgb(63,81,181);">
                  <b> Boat Coverages</b>
                </span>
                <mat-form-field style="margin-left:87px">
                  <mat-select [(value)]="selected">
                    <mat-option value="option1">Agreed Value hull</mat-option>
                    <mat-option value="option1">option 1</mat-option>
                    <mat-option value="option1">option 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div id="boat-coverage-box">
                <div>
                  <table cellspacing="0" cellpadding=0 style="width:99%; margin-top:5px">
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:30%">
                        <span>Hull- Agreed Hull Value</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="83.500" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">1% 250 min</mat-option>
                            <mat-option value="option1">2% 50 min</mat-option>
                            <mat-option value="option1">5% 650 min</mat-option>
                            <mat-option value="option1">10% 850 min</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="484.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Commercial Towing</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">250</mat-option>
                            <mat-option value="option1">532</mat-option>
                            <mat-option value="option1">965</mat-option>
                            <mat-option value="option1">123</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="0.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Boat Liab</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">100K/300K</mat-option>
                            <mat-option value="option1">200K/300K</mat-option>
                            <mat-option value="option1">400K/600K</mat-option>
                            <mat-option value="option1">800K/800K</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="35.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Fuel, Spill Liab</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">939,800</mat-option>
                            <mat-option value="option1">350,700</mat-option>
                            <mat-option value="option1">250,900</mat-option>
                            <mat-option value="option1">123,800</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="0.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Med Payments</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">1000</mat-option>
                            <mat-option value="option1">5000</mat-option>
                            <mat-option value="option1">2000</mat-option>
                            <mat-option value="option1">3000</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="0.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Boat Trailer</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="6000">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">$50</mat-option>
                            <mat-option value="option1">$80</mat-option>
                            <mat-option value="option1">$120</mat-option>
                            <mat-option value="option1">$90</mat-option>

                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="120.00" style="left:9px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Pers Effects</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">500</mat-option>
                            <mat-option value="option1">600</mat-option>
                            <mat-option value="option1">900</mat-option>
                            <mat-option value="option1">800</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select [(value)]="selected">
                            <mat-option value="option1">$100</mat-option>
                            <mat-option value="option1">$80</mat-option>
                            <mat-option value="option1">$80</mat-option>
                            <mat-option value="option1">$90</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="5.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Uninsured Boater</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="3,00,000" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="0.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div style="height: 217px; position: relative; margin-top: 10px;" id="boat-optional">
                <span style="color:rgb(63,81,181);">
                  <b> Boat Optional Coverages</b>
                </span>
                <div>
                  <table cellspacing="0" cellpadding=0 style="width:99%; margin-top:5px">
                    <tr>
                      <td>
                        <mat-checkbox checked="true"></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Large Dinghy Endt</span>
                      </td>
                      <td>
                        <!--<mat-icon style="color: #2ecc71">view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg" style="color: #2ecc71"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="7,500" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="0.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Tender Schedule</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg" style="color: #e67e22;"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>Non Owned Boat Liab</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <mat-select placeholder="">
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="0.00" style="left:10px;position :relative">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>captain Liab Cvg</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>New Boat replacement</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox></mat-checkbox>
                      </td>
                      <td style="margin-left:5px; width:300px">
                        <span>New</span>
                      </td>
                      <td>
                        <!--<mat-icon>view_module</mat-icon>-->
                        <i class="fa fa-th-large fa-lg"></i>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:100px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field style="width:50px; margin-left:5px">
                          <input matInput value="">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <mat-toolbar>
    <button mat-raised-button color="warn">
      <mat-icon>chevron_left</mat-icon>
      Policy holder
    </button>
    <span class="ss-spacer"></span>
    <button mat-raised-button color="warn">PreBind
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-toolbar>
</footer>