/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html{
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 20px;
}

.wrapper-content {
  width: 99%;
  margin-left: 0.5%;
  border: 1px solid #c4c0ba;
  margin-top: 5px;
}

.ss-spacer{
  flex: 1 1 auto;
}

.mat-toolbar {
  background: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 36px !important;
}

.mat-toolbar-single-row .mat-raised-button{
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}


.calenderSize .mat-form-field-wrapper{
  padding-bottom: 0;
}

.calenderSize .mat-form-field-infix{
  padding:0;
  border-top:0;
}

.calenderSize .mat-form-field-underline {
  display: none;
}
.customtextbox .mat-form-field-underline{
  display: none;
}
.customtextbox-length .mat-form-field-underline{
  display: none;
}
.customtextbox-topSpeed .mat-form-field-underline{
  display: none;
}
.customtextbox-year-of-mgc .mat-form-field-underline{
  display: none;
}
.customtextbox .mat-form-field-infix{
  margin-top: 3px !important;
}
.calenderSize .mat-icon-button{
  height: 20px;
  line-height: 1px;
}

.container > div {
  width: 33%;
}
.col1 {
  float: left;
}
.col2 {
  float: right;
}
.col3 {
  margin: auto;
}

.mat-select-value span,
.mat-select-arrow{
  font-size: 12px;
}

.boat-info-toolbar .mat-select-value span,
.boat-info-toolbar .mat-select-arrow{
  font-size: 12px;
  color: #F5F2ED;
}

.boat-info-toolbar button.buttonMenu
{
  min-width: 30px !important;
  border-radius: 15px !important;
  height: 29px;
  background-color: #3b6caa
}

.boat-info-toolbar .mat-icon {
  font-size: 20px;
}

.boat-info-toolbar .mat-icon.mat-icon.material-icons {
  margin-top: 0 !important;
}

span {
font-size: smaller
}

div{
  padding:0;
  margin:0;
}

#mat-radio-2 {
  padding-right: 10px;
}

.poc-card-radio table .mat-radio-outer-circle,
.poc-card-radio table .mat-radio-inner-circle {
  width: 15px;
  height: 15px;
}

.poc-card-radio table tr td:nth-child(1) {
  width: 75%
}



.poc-card-radio table mat-radio-group mat-radio-button:nth-child(1) {
  position: relative;
  left: 5px;
}

.poc-card-radio table mat-radio-group mat-radio-button:nth-child(2) {
  position: relative;
  left: 10px;
}

/*.toolbar2 */

/* .toolbar2 div.mat-input-wrapper:nth-child(1) {
  position: relative;
  bottom: 16px;
} */

.toolbar-radio .mat-radio-outer-circle,
.toolbar-radio .mat-radio-inner-circle{
  height: 15px;
  width: 15px;
}

.toolbar-radio .mat-radio-label-content {
  padding-left: 2px;
  font-size: 12px;
}

.col-right .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #88837B;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #88837B;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white;
}

.mat-checkbox-checkmark-path {
  stroke: black !important;
}

.mat-checkbox-background, .mat-checkbox-frame {
  border: 1px solid black;
}

.mat-option-text {
  font-size: 12px;
}

.mat-select-panel .mat-option {
  height: 2em !important;
}

.col-left {
  height: 450px;
}
.col-left input.mat-input-element {
  font-size: 12px;
}

#boat-info .mat-form-field-infix {
  width: 92px !important;
}

#boat-info .boat-info-quote .mat-form-field-infix  {
  width: 99px !important;
}

#boat-info table td {
  position: relative;
}

#boat-info table tr:nth-child(1) > td:nth-child(2) .mat-input-wrapper.mat-form-field-wrapper {
  left: -18px;
  width: 105%;
}

/* #boat-info table tr > td:nth-child(2) .mat-input-wrapper.mat-form-field-wrapper,
#boat-info table tr > td:nth-child(4) .mat-input-wrapper.mat-form-field-wrapper {
  bottom: 10px;
} */

#boat-info table tr:nth-child(2) > td:nth-child(2) .mat-input-container {
  left: -18px;
}

#boat-info table tr:nth-child(3) > td:nth-child(2) .mat-input-container {
  left: -18px;
}

#boat-info table tr:nth-child(4) > td:nth-child(2) .mat-input-container {
  left: -18px;
}

#boat-info table tr:nth-child(5) > table td:nth-child(2) .mat-input-container {
  left: 25px;
}

#boat-info table tr:nth-child(6) > td:nth-child(2) .mat-input-container {
  left: -18px;
}

#boat-info table tr:nth-child(5) > table td:nth-child(6) mat-form-field {
  position: relative;
  bottom: 10px;
}

.boat-info-card {
  overflow: visible !important;
}

#boat-info {
  height: 175px;
  margin-top: -10px;
}

.col-right .poc-card td mat-icon,
.col-center td mat-icon {
  color: #3f51b5;
}

.toobar1 .mat-select-value .mat-select-placeholder {
  position: relative;
  bottom: 4px;
  left: 5px;
  font-size: 13px;
}

.divBackgroud .mat-input-element.mat-form-field-autofill-control {
  font-size: 11px;
}

.divBackgroud {
  color: rgb(63,81,181);
}

.divBackgroud span.headerColor {
  font-weight: bold;
  padding-left: 9px;
}

.headerColor h4 {
  color: rgb(63, 81, 181);
  font-weight: bold;
  margin-left: -8px;
  font-size: 16px;
  letter-spacing: .5px;
}

.menuSelect1 span span {
  color: rgb(63, 81, 181);
  font-size: 14px;
}

.boat-location-heading{
  margin-top: 5px;
}

#boat-location .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

.boat-location-section {
  height: 190px;
  width: 100%;
}

#boat-location mat-form-field {
  height: 30px;
}

#boat-location mat-form-field,
#boat-coverage-box .mat-select-trigger {
  top: 2px
}

#boat-location .mat-checkbox-layout {
  position: relative;
  top: 4px;
}

#boat-location div:nth-child(1) {
  position: relative;
}

.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #e67e22;
}

.poc-card table:nth-child(2) tr:nth-child(1) td:nth-child(3) mat-icon {
  color: red;
}

.poc-card b {
  margin-left: 10px;
}
.poc-card tr {
  height: 24px;
}

/*#boat-info, #boat-location {*/
  /*overflow: visible;*/
/*}*/

/*#boat-coverage, #boat-optional {*/
  /*height: 180px;*/
/*}*/

#boat-coverage {
  height: 434px;
}

.boat-location-div {
  height: 27px;
  position: relative;
}

.boat-info-card .lable-weight {
  color: black !important;
  font-weight: bold;
}

.boat-location-div mat-form-field {
  bottom: 5px;
}

.mat-form-field {
  height: 22px;
}

.divBackgroud .mat-form-field {
  height: 22px;
}

#boat-underwriting table td {
  position: relative;
}

#boat-op table td {
  position: relative;
}

#boat-coverage-box {
  height:192px;
  position: relative;
}

#boat-coverage-heading {
  margin-bottom: 12px;
}

/*#boat-coverage-box table td:nth-child(3) {*/
  /*position: relative;*/
  /*top: 3px;*/
/*}*/

#boat-coverage-box table td:nth-child(4),
#boat-coverage-box table td:nth-child(5),
#boat-coverage-box table td:nth-child(6) {
  position: relative;
}

#boat-coverage-box table tr td:nth-child(4) mat-form-field,
#boat-coverage-box table tr td:nth-child(5) mat-form-field,
#boat-coverage-box table tr td:nth-child(6) mat-form-field{
  width: 100px !important;
}

#boat-optional table td:nth-child(3) {
  position: relative;
  top: 3px;
}

#boat-optional table td:nth-child(4),
#boat-optional table td:nth-child(5),
#boat-optional table td:nth-child(6) {
  position: relative;
  width: 100px;
}

#boat-optional table td:nth-child(4) mat-form-field,
#boat-optional table td:nth-child(5) mat-form-field,
#boat-optional table td:nth-child(6) mat-form-field {
  width: 100px !important;
}

#boat-optional table tr td:nth-child(1) {
  width: 18px;
}

#boat-optional table tr td:nth-child(2) {
  width: 29.5% !important;
}

#boat-optional table tr td:nth-child(3) {
  width: 23.33px;
}

.calenderSize .mat-form-field-infix {
  padding-left: 5px;
}

.quoteSelect {
  width: 350px !important;
}

.quoteSelect .mat-select-value-text {
  vertical-align: top;
  font-size: 14px;
}

.boat-info-toolbar .mat-select-trigger {
  bottom: 7px;
  padding-left: 5px;
}

.boat-info-toolbar .mat-form-field {
  font-weight: 600 !important;
}

.boat-info-toolbar .menuSelect {
  background-color: #3b6caa !important;
}

.boat-info-toolbar .mat-form-field-infix {
  padding: 0;
  border-top: 0 !important;
}

.boat-info-toolbar div.mat-input-flex.mat-form-field-flex {
  border: 2px solid #ef051f;
  height: 22px;
}

.toolbar-btn-area {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.boat-info-toolbar .toolbar-btn-area .mat-select-value span,
.boat-info-toolbar .toolbar-btn-area .mat-select-arrow {
  color: #ef051f;
}

.boat-info-toolbar .toolbar-btn-area .mat-select-value {
  text-align: center;
  position: relative;
  bottom: 2px;
}

.boat-info-toolbar .toolbar-btn-area .mat-select-trigger {
   bottom: -2px;
}

.boat-info-toolbar .toolbar-btn-area .mat-form-field-infix {
  width: 75px;
  bottom: 2px;
}

.boat-info-toolbar .menuSelect {
  width: 8% !important;
}

.divBackgroud.toobar1 .mat-select-trigger {
  bottom: 7px;
  padding-left: 5px;
  position: relative;
}

mat-datepicker-toggle span.mat-button-wrapper {
  font-size: 16px;
}

.fa.fa-th-large {
  color: #3b6caa;
  height: 10px;
  margin-right: 5px;
  border: 1px solid lightgray;
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 1px;
}

.fa-lg {
  font-size: 1em;
}

table.table1{
  width: 97% !important;
}

#boat-location .mat-checkbox-layout{
  top:0px !important;
}

footer button {
  margin-bottom: 5px !important;
}

#boat-op {
  height: 150px;
  max-height: 150px;
}

#boat-op .mat-raised-button {
  min-width: 50px !important;
  margin-left: 0 !important;
  height: 26px;
  line-height: 26px;
  right: 175px;
}

#boat-op #add-icon {
  margin-left: 10px;
  height: 20px;
  width: 20px
}

#boat-op .toolbar2 .material-icons {
  font-size: 20px !important
}

.boat-op-table1 {
  position: relative;
  top: 6px;
}

.boat-op-table1 th:nth-child(3) {
  text-align: right !important;
  padding-right: 18px !important;
}

.boat-op-table1 th:nth-child(2) {
  text-align: center !important;
  position: relative !important;
  left: 10px !important;
}

.boat-op-table1 th {
  background-color: transparent !important;
}
#boat-info tr td:nth-child(1){
  position: relative;
  right: 20px;
}
#boat-info tr td:nth-child(1),
#boat-info tr td:nth-child(3){
  text-align: right;
  width : 10px !important;
}

#boat-info tr td:nth-child(1),
#boat-info tr td:nth-child(3){
  text-align: right;
  width : 10px !important;
}

.boat-location-section tr td:nth-child(1){
  text-align: right;
}

.boat-op-table2 tr td:nth-child(1),
.boat-op-table2 tr td:nth-child(3) {
  text-align: center;
}

.boat-op-table2 tr td:nth-child(2) {
  text-align: left;
}

.boat-op-table2 tr td {
  border-bottom: 1px solid lightgray;
}

.boat-underwriting-table1 th {
  background-color: transparent !important;
}

.boat-underwriting-table1 th:nth-child(2) {
  text-align: center;
}

.boat-underwriting-table2 tr td {
  border-bottom: 1px solid lightgray;
}

mat-card#boat-op {
  margin-bottom: 0;
  box-shadow: none;
}
mat-card#boat-underwriting {
  margin-top: 0;
  box-shadow: none;
  border-top: rgb(231, 231, 231) 1px solid;
}

mat-card b {
  font-style: italic;
  color: #3b6caa;
}

.col-right .mat-form-field-infix {
  padding: 1px !important;
  border-top: 0;
}

mat-card {
  box-shadow: none !important;
  margin: 0 !important;
  border: 1px solid #F6F5F4
}

#boat-coverage input.mat-input-element {
  text-align: right;
  left: 0 !important;
}

.col-left .mat-form-field-infix {
  padding: 0px;
  border-top: 0;
}
.toolbar-top {
  width: 99.1% !important;
  margin-left: 0.5% !important;
  margin-right: 0.5% !important;
  border: 1px solid #c4c0ba;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.toolbar-top .mat-form-field {
  font-weight: 600 !important;
}

.toolbar-top .labelN {
  margin-left: 20px !important;
}

.mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.1em !important;
}

#date-picker mat-datepicker-toggle {
  padding-right: 2px;
  padding-left: 2px;
}

#date-picker div.mat-input-suffix.mat-form-field-suffix {
  border-left: 1px solid gray;
  line-height: 20px;
}

.box-toolbar {
  margin-top: 0px !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #c4c0ba;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.mat-input-infix.mat-form-field-infix{
  height: 17px !important;
}
mat-toolbar.toolbar2.mat-toolbar.mat-toolbar-single-row {
  margin-top: -3px;
}

.cabana .menuSelect1 {
  border-radius: 0 !important;
  background-color: #3b6caa !important;
}

.cabana .menuSelect1 span span,
.cabana .mat-select-arrow {
  color: white !important;
}

#boat-coverage-box .mat-select-trigger {
  top: 2px
}

.boat-location-heading .mat-checkbox-inner-container {
  width: 15px;
  height: 15px;
  bottom: 2px;
}

#boat-info .mat-form-field-subscript-wrapper {
  margin-top: 0;
}

#boat-info .mat-form-field {
  height: 19px;
}

#boat-optional tr td:nth-child(2) {
  font-weight: bold;
}

#boat-coverage-box tr td:nth-child(2) {
  font-weight: bold;
}

#add-icon {
  color: white;
  background: #e67e22;
  cursor: pointer;
  border-radius: 4px;
}
mat-form-field.mat-input-container.mat-form-field.ng-tns-c7-17.mat-primary.mat-form-field-type-mat-select.mat-form-field-can-float.mat-form-field-hide-placeholder.mat-form-field-should-float{
  width:105%;
}

.mat-toolbar.mat-primary {
  background: #3b6caa;
}
button.mat-raised-button.mat-warn{
  border-radius: 6px;
}

.divBackgroud[_ngcontent-c0] span[_ngcontent-c0]{
  font-size: 12px !important;
  color: black !important;
  font-weight: bold;
}

#boat-underwriting-top span.lable-weight {
  color: black;
}
#boat-coverage-box table td:nth-child(4), #boat-coverage-box table td:nth-child(5), #boat-coverage-box table td:nth-child(6) {
  position: relative;
  left: -12px;
}
#boat-coverage-box table td:nth-child(3){
  position: relative;
  right: 8px;
}
#boat-optional table td:nth-child(4), #boat-optional table td:nth-child(5), #boat-optional table td:nth-child(6) {
  position: relative;
  left: -12px;
}
#boat-optional table td:nth-child(3){
  position: relative;
  right: 8px;
}